.ant-layout-header.app-header {
    padding: 0;
    background-color: #FFFFFF;
    color: #1F2022;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;

    .header-menu-icon {
        flex: 0 0 72px;
        width: 72px;
        height: 72px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-logo-container {
        flex: 0 0 126px;
        user-select: none;

        img {
            width: 62px;
            height: 37px;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    .app-header-content {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;

        & > *:first-child:last-child {
            margin-left: auto;
        }

        .ant-btn {
            background-color: #fff;
            border: 1px solid #FF0000;
            color: #FF0000;
            font-weight: normal;
            font-size: 13px;
            line-height: 27px;
            padding: 12px 24px;
            border-radius: 16px;

            .anticon {
                svg,
                svg * {
                    fill: red;
                }
            }
        }
    }
}