.test-colors {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;

    & > header {
        flex: 0 0 auto;
        padding-bottom: 16px;
    }

    .ant-row {
        .ant-col-1 {
            flex: 0 0 6.25%;
            max-width: 6.25%;

            &:empty {
                flex: 0 0 2.083333335%;
                max-width: 2.083333335%;
            }
        }
    }

    .colors-container {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > * {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
    }
}