.settings-modal {

    label {
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }

        &.ant-radio-button-wrapper {
            margin-top: 0;
        }
    }

    .ant-row {
        margin-bottom: 8px;
    }
    .ant-modal-footer {
        padding: 0;
    }
}